.homepage-hero {
	--hero-banner--min-height: 400px;
	--hero-banner-large--min-height: 700px;
}

.hero-banner {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	place-items: end stretch;
	overflow: hidden;
	min-height: var(--set-hero-banner--min-height, var(--hero-banner--min-height, 300px));

	@include mq($from: large) {
		--hero-banner--min-height: var(--hero-banner-large--min-height, 500px);
	}

	.title-accent {
		&::before {
			display: var(--hero-banner-title-accent-before--display, none);

			content: "";
			width: 27px;
			height: 60px;
			background-color: rgb(var(--brand__color--white));

			-webkit-mask: : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 60'%3E%3Cpath d='M26.6446 0L26.9939 0.564137C27.0205 0.841728 26.963 1.04321 26.764 1.24021C26.2642 1.72823 23.518 2.03716 22.4831 2.72666C21.1299 3.6266 20.8867 5.28767 20.7805 6.82337C20.3914 12.4424 21.298 18.7553 20.7982 24.3027C20.5594 26.9487 18.8789 28.3412 16.5395 29.1695L13.0503 30.1097C16.4378 30.6291 20.4489 31.5782 20.7982 35.7018C21.267 41.2089 20.4268 47.383 20.7805 52.9572C20.9265 55.2765 21.1476 56.942 23.4472 57.8688C24.2344 58.1867 26.9895 58.4956 26.9895 59.4403L26.649 60H0L0.216694 58.7643C3.13101 57.7211 5.49254 57.5241 5.75788 53.8527L5.74461 5.93687C5.39525 2.38639 2.72416 2.44012 0.0309563 1.31184L0 0H26.6446Z'/%3E%3C/svg%3E") no-repeat center;
			mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 60'%3E%3Cpath d='M26.6446 0L26.9939 0.564137C27.0205 0.841728 26.963 1.04321 26.764 1.24021C26.2642 1.72823 23.518 2.03716 22.4831 2.72666C21.1299 3.6266 20.8867 5.28767 20.7805 6.82337C20.3914 12.4424 21.298 18.7553 20.7982 24.3027C20.5594 26.9487 18.8789 28.3412 16.5395 29.1695L13.0503 30.1097C16.4378 30.6291 20.4489 31.5782 20.7982 35.7018C21.267 41.2089 20.4268 47.383 20.7805 52.9572C20.9265 55.2765 21.1476 56.942 23.4472 57.8688C24.2344 58.1867 26.9895 58.4956 26.9895 59.4403L26.649 60H0L0.216694 58.7643C3.13101 57.7211 5.49254 57.5241 5.75788 53.8527L5.74461 5.93687C5.39525 2.38639 2.72416 2.44012 0.0309563 1.31184L0 0H26.6446Z'/%3E%3C/svg%3E") no-repeat center;

			mask-size: contain;
		}

		&::after {
			display: var(--hero-banner-title-accent-after--display, none);

			content: "";
			width: 24px;
			height: 60px;
			background-color: rgb(var(--brand__color--white));

			-webkit-mask: : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 60'%3E%3Cpath d='M0.0220552 0H9.38437C10.5783 0 13.6712 1.05846 14.8255 1.63011C25.8929 7.05638 27.7081 23.5004 15.667 28.9267C13.0147 30.1236 11.3802 29.9048 8.82924 28.4801C6.98762 27.4529 6.14611 26.1801 5.96107 24.0185C5.47643 18.3153 6.78495 10.7677 5.86855 5.35481C5.70994 4.4214 5.19887 3.35402 4.43226 2.79129C2.92107 1.66584 -0.290756 2.25536 0.0220552 0Z'%3Cpath d='M0 60L0.0308406 58.9147C2.74922 57.7938 5.27814 58.2448 5.8509 54.6497C6.74527 49.0358 5.41913 41.5909 5.93901 35.7582C6.17693 33.1009 8.16394 31.5556 10.5254 30.8053C13.5875 29.8362 15.0017 30.5597 17.6056 32.2121C28.3028 39.005 24.602 54.7792 13.7152 59.0487C13.257 59.2274 10.9704 59.9955 10.6841 59.9955H0V60Z'/%3E%3C/svg%3E") no-repeat center;
			mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 60'%3E%3Cpath d='M0.0220552 0H9.38437C10.5783 0 13.6712 1.05846 14.8255 1.63011C25.8929 7.05638 27.7081 23.5004 15.667 28.9267C13.0147 30.1236 11.3802 29.9048 8.82924 28.4801C6.98762 27.4529 6.14611 26.1801 5.96107 24.0185C5.47643 18.3153 6.78495 10.7677 5.86855 5.35481C5.70994 4.4214 5.19887 3.35402 4.43226 2.79129C2.92107 1.66584 -0.290756 2.25536 0.0220552 0Z'%3Cpath d='M0 60L0.0308406 58.9147C2.74922 57.7938 5.27814 58.2448 5.8509 54.6497C6.74527 49.0358 5.41913 41.5909 5.93901 35.7582C6.17693 33.1009 8.16394 31.5556 10.5254 30.8053C13.5875 29.8362 15.0017 30.5597 17.6056 32.2121C28.3028 39.005 24.602 54.7792 13.7152 59.0487C13.257 59.2274 10.9704 59.9955 10.6841 59.9955H0V60Z'/%3E%3C/svg%3E") no-repeat center;

			mask-size: contain;
		}

		@include mq($from: large) {
			--hero-banner-title-accent-before--display: block;
			--hero-banner-title-accent-after--display: block;
		}
	}
}

.hero-banner__bg {
	grid-row: 1;
	grid-column: 1;
	align-self: stretch;
	@include absolute(0, 0, 0, 0, 1);
	background: url('/assets/media/images/hero-placeholder.avif') center/cover no-repeat;

	&::before {
		display: block;
		content: "";
		@include absolute(0, 0, 0, 0, 1);
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 1));
		background-repeat: no-repeat;
	}
}

.hero-banner__content {
	padding: var(--hero-banner__content--padding, calc(var(--brand__spacing--huge) + var(--brand__spacing--large)) var(--brand__spacing) var(--brand__spacing--large) var(--brand__spacing));
	z-index: 2;
	margin: 0 auto;
	text-align: center;
	--brand__typography-h1--color: rgb(var(--brand__color--white));
	--brand__typography-h1--margin-bottom: 0;

	@include mq($from: large) {
		--hero-banner__content--padding: var(--brand__spacing--huge) var(--brand__spacing);
		min-width: 860px;
		max-width: 860px;
	}
}

.hero-banner__cta {
	margin-block-start: var(--brand__spacing);
	--brand__btn-primary--background-color: rgb(var(--brand__color--white));
	--brand__btn-primary--color: rgb(var(--brand__color--black));
}

/* ---------------------------- */
/* Below-the-fold optimization */

section:not(.c-homepage-intro) {
	content-visibility: auto;
	contain-intrinsic-size: 800px;
}